<footer>
	<div class="container">
	<div class="text-center">
		<ul>
			<li><a href="./zone-intervention.html">Zone d'intervention</a></li>
			<li><a href="mentions-legales">Mentions légales </a></li>
		</ul>
		</div>
		<hr>
		<div class="text-center">
			<p class="bh_lien">BHInternet - Création site internet</p>
		</div>
	</div>
</footer>



<script src="./assets/js/index.js"></script>
<script src="./assets/js/formSubmit.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>