<footer>
	<div class="container">
		<div class="row">
      <div class="col-lg-3"></div>
			<div class="col-md-3">
				<img src="./assets/img/Logo_FondNoir.png" class="img-responsive" alt="logo">
				<div class="div01"></div>
				<ul class="social">
					<li>
						<a href="#" class="fab fa-facebook-f"></a>
					</li>
					<li>
						<a href="#" class="fab fa-twitter"></a>
					</li>
				</ul>
				<p><a href="./veranda-seine-et-marne.html">Véranda seine-et-marne</a></p>
				<p><a href="./veranda-melun.html">Véranda Melun</a></p>
				<p><a href="mentions-legales">Mentions légales</a></p>

			</div>
			<div class="col-md-3">
				<img src="./assets/img/footer-img1.png" class="img-responsive">
			</div>
      <div class="col-lg-3"></div>
		</div>
		<hr>
		<div class="text-center">
			<a href="https://www.bhinternet.fr/" target="_blank">BHInternet - Création site internet | 2024</a>
		</div>
	</div>
</footer>



<script src="./assets/js/index.js"></script>
<script src="./assets/js/formSubmit.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>