<header>
  <div class="top">
    <div class="container">
      <div id="banniere-rs" class="row">
        <div class="col-sm-4 ">
          <ul class="social">
            <li>
              <a href="#" class="fab fa-facebook-f"></a>
            </li>
            <li>
              <a href="#" class="fab fa-twitter"></a>
            </li>
          </ul>
        </div>
  
        <div class="col-sm-4 text-center">
          <a href="tel:0185537895">
            <i class="fas fa-phone-alt" aria-hidden="true"></i> 01 85 53 78 95							</a>
        </div>
        <div class="col-sm-4 text-right ">
          <a href="mailto:cfv.commercial@orange.fr">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            cfv.commercial@orange.fr							</a>
        </div>
      </div>
    </div>
    <hr>
  </div>
  
</header>

<section class="Navbar navbar-main fixedNav">
  <nav class="navbar Navbar_main navbar-expand-lg fixedNav">
    <div class="container-fluid to-col">
      <div class="Navbar_image">
        <a href="./accueil.html" title="Accueil"><img loading="lazy" src="./assets/img/logo_final.png"
            class="Navbar_image-img" alt="Logo CFV" /></a>
      </div>
      <button class="navbar-toggler Navbar_toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars toggle-button Navbar_toggler-icon" aria-hidden="true"></i>
      </button>
      <div class="collapse navbar-collapse Navbar_nav-collapse" id="navbarNav">
        <ul class="navbar-nav Navbar_nav w-100">
          <li class="nav-item Navbar_nav-item">
            <a class="nav-link {% if page.url == '/' %} Navbar_nav-link {% else %} Navbar_nav-link2 {% endif %}"
              title="Accueil" href="./accueil.html"> Accueil</a>
          </li>
          <li class="nav-item Navbar_nav-item">
            <a class="nav-link {% if page.url == '/galerie' %} Navbar_nav-link {% else %} Navbar_nav-link2 {% endif %}"
              title="Nos réalisations" href="./nos-verandas.html"> Nos vérandas </a>
          </li>
          <li class="nav-item Navbar_nav-item">
            <a class="nav-link {% if page.url == '/galerie' %} Navbar_nav-link {% else %} Navbar_nav-link2 {% endif %}"
              title="Nos réalisations" href="./renovation-veranda.html">Réalisations</a>
          </li>
          <li class="nav-item Navbar_nav-item">
            <a class="nav-link {% if page.url == '/galerie' %} Navbar_nav-link {% else %} Navbar_nav-link2 {% endif %}"
              title="Nos réalisations" href="./renovation-veranda.html">  Avis client  </a>
          </li>
          <li class="nav-item Navbar_nav-item">
            <a class="nav-link {% if page.url == '/galerie' %} Navbar_nav-link {% else %} Navbar_nav-link2 {% endif %}"
              title="Nos réalisations" href="./contact.html">Contactez-nous </a>
          </li>
          <li class="nav-item Navbar_nav-item">
            <a class="nav-link Navbar_nav-btn" title="Devis en ligne" href="./devis.html">Devis gratuit </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>