---
---

* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --color-primary: #01803B;
  --color-secondary: #FFDE62;
  --font-primary: "Lato", Helvetica, Arial, sans-serif;
}

*::selection {
  background-color: var(--color-primary);
  color: #fff !important;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 62.5% !important; // 1rem = 10px, 10px/16px = 62.5%
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  line-height: 1.5;
  color: #545454;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 100%;
  background-color: #fff !important;
  color: #333;
  overflow-x: hidden !important;
  // background-color: #F5F7FA !important;
}

.bg-sec-link{
  background: var(--color-secondary) !important;

  &:hover{
    transition: .2s all ease-in-out;
    background: var(--color-primary) !important;
    color: #fff !important;
    cursor: poIstok Web;
  }
}

.collapse.show{
  z-index: 1000000;
}

header .top {
  background-color: #fff;
  padding: 1rem 0px;
  position: relative;
}

ul.social li {
  display: inline-block;
}

ul.social li a {
  color: #212121;
}

header .social a {
  color: #fff;
  padding-right: 1rem;

  &:hover{
    text-decoration: none;
  }
}

header .top a {
  font-weight: 400;
  font-style: normal;
  color: #212121;
  line-height: 1.4;
  letter-spacing: 0px;
  font-size: 1.4rem;
}

.top i {
  color: #9b9b9b;
  font-size: 2rem;
  padding-right: 1rem;
}

.Navbar {
  background: transparent;
  z-index: 10000 !important;
  width: 100%;
  max-width: 100%;
  transition: .5s all ease-in-out;
  padding: 1.5rem 21rem !important;
  background: #fff;
  // position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .14);

  @media only screen and (max-width: 1600px) {
    padding: 1.5rem 7rem !important;
  }

  @media only screen and (max-width: 1200px) {
    padding: 1.5rem 4rem !important;
  }

  &_main {

  }

  &_image {
    //margin-right: 14rem;

    @media only screen and (max-width: 1400px) {
      display: block;
    }

    @media only screen and (max-width: 990px) {
      display: block;
      margin-right: 0 !important;
    }

    &-img {
      width: 100%;
      max-height: 10rem;
      object-fit: contain;

      @media only screen and (max-width: 1400px) {
        width: auto;
      }

      @media only screen and (max-width: 990px) {
        max-height: 6rem !important;
      }

      @media only screen and (max-width: 768px) {
        max-height: 4rem !important;
      }

    }
  }

  &_toggler {
    color: var(--color-primary) !important;

    &-icon {
      font-size: 3rem;

      @media only screen and (max-width: 768px) {
        font-size: 2.4rem;
      }
    }
  }

  &_nav {
    display: flex !important;
    justify-content: flex-end !important;
    width: 100%;
    gap: .5rem;
    transition: all .5s fade-in;

    @media only screen and (max-width: 1300px) {
      gap: .5rem;
    }

    @media only screen and (max-width: 1100px) {
      gap: 1rem;
    }


    @media only screen and (max-width: 990px) {
      background-color: #eee;
      padding: 2rem 3rem !important;
      margin-top: 1rem;
    }

    &-collapse{

      @media only screen and (max-width: 990px) {
        position: absolute !important;
        top: 100% !important;
        left: 0 !important;
        right: 0 !important;
        width: 100% !important;
      }
    }

    &-hr{
      background-color: var(--color-primary);
      color: var(--color-primary);
      height: .2rem;
      margin-bottom: 0 !important;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 .5rem;

      @media only screen and (max-width: 1600px) {
        margin-right: 2px !important;
        margin-left: 2px;
      }

      @media only screen and (max-width: 990px) {
        justify-content: flex-start !important;
        align-items: flex-start !important;
        text-align: left;
      }
    }

    &-link {
      color: #333;
      font-family: "Lato", sans-serif;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: none;
      white-space: nowrap;

      @media only screen and (max-width: 1200px) {
        font-size: 1.4rem;
      }

      @media only screen and (max-width: 990px) {
        white-space: normal !important;
        font-size: 1.6rem;
        color: #000;
      }  
 

      &:hover {
        width: auto !important;
        color: var(--color-primary) !important;
        cursor: pointer;
      }
    }

    &-link2 {
      color: #000;
      font-family: "Lato", sans-serif;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: none;
      white-space: nowrap;

      @media only screen and (max-width: 1200px) {
        font-size: 1.4rem;
      }

      @media only screen and (max-width: 990px) {
        white-space: normal !important;
        font-size: 1.6rem;
        color: #000;
      }  

      &:hover {
        width: auto !important;
        color: var(--color-primary) !important;
        cursor: pointer;
      }
    }

    &-btn {
      color: #fff;
      background-color: #01803B;
      padding: .6rem 1rem !important;
      border-radius: 1rem !important;
      font-size: 1.6rem !important;
      line-height: 2.9rem !important;
      border: none;
      font-family: "Montserrat", sans-serif !important;
      text-align: center;
      cursor: pointer;
      vertical-align: middle;
      font-weight: 600;
      transition: 0.3s;
      text-transform: none !important;


      @media only screen and (max-width: 1400px) {
        font-size: 1.4rem;
        margin-right: 0rem;
      }

      @media only screen and (max-width: 1200px) {
        margin-right: 0 !important;
        padding: .5rem 1rem !important;
      }

      @media only screen and (max-width: 1100px) {
        font-size: 1rem;
      }

      @media only screen and (max-width: 990px) {
        padding: 1rem !important;
        font-size: 1.4rem;
        color: #000 !important;
        margin-top: 2rem;
      }

      &:hover {
        text-decoration: none;
        color: #fff;
        box-shadow: none;
        transition: all .3s;
        cursor: pointer;
      }
    }

    &-image{
      width: 10rem;
      height: 8.3rem;
      margin-top: 2rem;
      margin-right: 2rem;
      max-width: 10rem;

      &--img{
        object-fit: cover;
        max-width: 10rem;
      }

      &--img2{
        object-fit: cover;
        max-width: 14rem;
        background-color: #fff !important;
      }
    }
  }
}
  
.to-d-flex{
  display: flex;

  @media only screen and (max-width: 990px) {
    flex-direction: column;
  }
}

.navbar-active {
  position: fixed !important;
  width: 100%;
  max-width: 100%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.12);
  background-color: #fff !important;
  border: 0 !important;
  top: 0 !important;
  left: 0 !important;
  transition: .2s;
  z-index: 10000 !important;
}

.navbar-active .Navbar_main {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;

  @media only screen and (max-width: 990px) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.navbar-active .Navbar_nav-link{
  color: #000 !important;
}

// .navbar-active .Navbar_image-img{
//   max-width: 13rem !important;

//   @media only screen and (max-width: 990px) {
//     max-width: 100% !important;
//   }
// }

.navbar-active .Navbar_nav-link2{
  color: #000 !important;
}

// .navbar-active .Navbar_nav-btn{
//   color: #000 !important;
// }

.navbar>.container-fluid {
  flex-wrap: nowrap !important;
}

.dropdown-menu{
  background-color: var(--color-primary) !important;
  z-index: 100000 !important;
  position: relative;
}

.header {
  position: relative;
  display: flex;
  height: 100vh; 
  max-height: 100vh; 
  background: #000;
  overflow: hidden;
  z-index: 0;

  @media only screen and (max-width: 1400px) {
    height: 80vh; 
  }

  @media only screen and (max-width: 990px) {
    height: 60vh; 
  }

  @media only screen and (max-width: 768px) {
    height: 40vh; 
  }

  @media only screen and (max-width: 500px) {
    height: 35vh; 
  }

  &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(54, 54, 54, 0.5) !important;
      z-index: -1;
      transition: 0.5s;
  }

  &__background {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 120%;
      height: 0;
      padding-bottom: 66.25%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      z-index: 0;

      &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(54, 54, 54, 0.5) !important;
          z-index: -1;
          transition: 0.5s;
      }
  }

  &__video-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: opacity 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940), visibility 0.5s linear;
      z-index: 0;

      &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(54, 54, 54, 0.5) !important;
          z-index: -1;
          transition: 0.5s;
      }

      &--fadeOut {
          opacity: 0;
          visibility: hidden;
      }
  }

  iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 0;

      &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(54, 54, 54, 0.5) !important;
          z-index: -1;
          transition: 0.5s;
      }
  }

  &__title {
      position: relative;
      flex: 0 0 auto;
      align-self: center;
      width: 100%;
      font-family: 'Permanent Marker', cursive;
      font-size: 50px;
      font-weight: normal;
      text-align: center;
      color: white;
      line-height: 1;
  }
}

.slider2 {
  position: absolute;
  z-index: 1000;
  top: 45%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);

  @media only screen and (max-width: 1700px) {
    top: 30%;
  }

  @media only screen and (max-width: 1400px) {
    top: 15%;
  }

  @media only screen and (max-width: 1200px) {
    top: 15%;
  }

  @media only screen and (max-width: 990px) {
    top: 15%;
  }
}


.slider{
  overflow-x: hidden !important;
  position: relative;
  // position: relative;
  // background-image: url("../img/slider.png");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // z-index: 0;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba(54, 54, 54, 0.5) !important;
  //   z-index: -1;
  //   transition: 0.5s;
  // }

  &_bg{
    padding: 20rem;
    padding-bottom: 0;
    z-index: 100 !important;

    @media only screen and (max-width: 1600px) {
      padding: 24rem 10rem;
    }

    @media only screen and (max-width: 1200px) {
      padding: 24rem 7rem;
    }

    @media only screen and (max-width: 990px) {
      padding: 24rem 2rem;
    }

  }

  &_content{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 100;

    // @media only screen and (max-width: 990px) {
    //   top: 40%;
    // }

    @media only screen and (max-width: 600px) {
      top: 25%;
    }

    @media only screen and (max-width: 480px) {
      top: 20%;
    }

    &-title{
      font-family: "Lato", sans-serif;
      color: #fff;
      font-weight: 300;
      line-height: 1.22222;
      font-size: 4rem;
      padding-bottom: 1rem;
      text-align: center;


      @media only screen and (max-width: 1200px) {
        font-size: 3.6rem;
        text-align: center;
      } 

      @media only screen and (max-width: 768px) {
        font-size: 2.4rem;
      }
    }

    &-p{
      color: #FFF;
      font-family: "Lato", sans-serif;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 2rem;
      margin-bottom: 4rem;
      text-align: center;

      @media only screen and (max-width: 990px) {
       margin-bottom: 0;
      }

      @media only screen and (max-width: 600px) {
        font-size: 1.6rem;
      }
    }

    &-link{
      color: #EFEFEF;
      text-align: center;
      font-family: "Jost", sans-serif;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      background-color: var(--color-primary);
      padding: 1rem 2.4rem;
      border-radius: 1rem;

      @media only screen and (max-width: 990px) {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
      } 

      @media only screen and (max-width: 768px) {
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem !important;
      }
    

      @media only screen and (max-width: 600px) {
        padding: .5rem 1rem;
        font-size: 1.8rem;
      }

      &:hover{
        text-decoration: none;
        background-color: var(--color-secondary);
        color: #fff;
        transition: all .5s ease-in-out;
        cursor: pointer;
      }
    }

    &-button {
      margin-right: 2rem;
      margin-top: 5rem;

      @media only screen and (max-width: 990px) {
        margin-right: 0 !important;
        margin-top: 3rem;
      }


      &--a {
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        font-family: 'Lato', sans-serif;
        border-radius: .8rem;
        background: transparents;
        box-shadow: 0px 0px 0px -.7rem rgba(0, 0, 0, 0);
        padding: 1rem 4rem !important;
        white-space: nowrap;
        color: #fff !important;
        border: 2px solid #fff;
        text-align: center;
        text-transform: none !important;

        @media only screen and (max-width: 1200px) {
          margin-right: 0 !important;
        }

        @media only screen and (max-width: 990px) {
          width: 100%;
          align-items: flex-start !important;
        }

        @media only screen and (max-width: 768px) {
          padding: .5rem 1rem;
          font-size: 1.4rem;
        }
      

        &:hover {
          background: #fff !important;
          color: var(--color-primary) !important;
          transition: all .5s;
          text-decoration: none;
          cursor: pointer;
        }
      }

      &--btn {
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        font-family: 'Lato', sans-serif;
        border-radius: .8rem;
        background: transparents;
        box-shadow: 0px 0px 0px -.7rem rgba(0, 0, 0, 0);
        padding: 1.2rem 4rem !important;
        white-space: nowrap;
        color: #fff !important;
        border: 2px solid #fff;
        text-align: center;
        text-transform: none !important;

        @media only screen and (max-width: 1200px) {
          margin-right: 0 !important;
        }

        @media only screen and (max-width: 990px) {
          width: 100%;
          align-items: flex-start !important;
        }

        @media only screen and (max-width: 768px) {
          padding: .5rem 1rem;
          font-size: 1.4rem;
        }
      

        &:hover {
          background: var(--color-primary) !important;
          color: #fff !important;
          transition: all .5s;
          cursor: pointer;
        }
      }
    }
  }

  &_images{
    display: flex;
    align-items: flex-end;
    // position: absolute;
    // top: 0%;
    // right: 5rem;

    @media only screen and (max-width: 990px) {
      display: none;
    }

    &-image{
      position: relative;

      &-1{
        margin-right: -10rem;
        z-index: 100;
      }

      &--img1{
        width: 100%;
        height: auto;
      }

      &--img2{
        position: relative;
        width: 100%;
        height: auto;
      }

      &--icon{
        position: absolute;
        top: 40%;
        left: 40%;
        right: 0;
        width: 10rem;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-primary);
        font-size: 4rem;
        border-radius: 50%;
        border: 1px solid #fff;
        padding: 3rem;
      }
    }
  }
}

.slider-to-show{
  position: relative;
  background-image: url('../img/slider1.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  // height: 100vh;
  // overflow: hidden; 
  z-index: 0;
  display: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(54, 54, 54, 0.5) !important;
    z-index: -1;
    transition: 0.5s;
}

  @media only screen and (max-width: 1200px) {
    display: block;
    // height: 70vh;
  }

  &-content{
    padding: 14rem 0;
  }
}

.to-hide-1200{

  @media only screen and (max-width: 1200px) {
    display: none;
  }
}


.slider-section {
  position: relative;
  background-image: url('../img/slider1.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  // height: 100vh;
  // overflow: hidden; 
  z-index: 0;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba(0, 0, 0, 0.6) !important;
  //   transition: 0.5s;
  // }
}

.background-video {
  // position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  // height: 100%; 
  // object-fit: cover;
}

.img_menu {
  margin-left: -1px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 20rem;
  height: 13rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.dropdown-menu img {
  transition: .3s all ease-out !important;
  width: 100% !important;
}

/* Hide the dropdown menu by default */
.dropdown-menu {
  display: none !important;
}

/* Show the dropdown menu on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block !important;
}

/* Optional: style adjustments for better visibility */
.dropdown-menu {
  position: absolute !important; /* Positioning to ensure the dropdown appears correctly */
  z-index: 1000 !important; /* To appear above other content */
}


.navbar-active .Navbar_nav-link2 span{
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: .5rem;
}

.text-center {
  text-align: center !important;
}

.has-feedback {
  position: relative;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  font-family: 'Lato', sans-serif !important;
  display: block;
  width: 100% !important;
  height: 5rem !important;
  border-radius: 3rem !important;
  padding: .6rem 1.5rem !important;
  font-size: 1.4rem !important;
  line-height: 1.42857143;
  color: #555 !important;
  background-color: #fff !important;
  background-image: none;
  border: .1rem solid #ccc !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 .1rem .1rem rgba(0, 0, 0, .075) !important;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-pseudo {
  display: none;
}






.gal {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.gal img {
  width: 100%;
  padding: .7rem 0;
}

.portfolio img {
  max-width: 100%;
  position: relative;
  top: 0;
  -webkit-transition: all .6s cubic-bezier(.645,.045,.355,1);
  transition: all .6s cubic-bezier(.645,.045,.355,1);
  margin-bottom: 3rem;
  height: 25rem;
  object-fit: cover;
}

nav {
  padding-top: .5rem;
}

nav li {
  display: inline-block;
  position: relative;
  cursor: pointer;
}


// #section1 {
//   margin-top: 28%;
// }

section.one {
  padding: 5rem 0px;
  text-align: center;
}

section h2 {
  line-height: 1.18421;
  font-size: 3.8rem;
  font-weight: 700;
  color: #434345;
  font-family: "Montserrat", sans-serif;
}

.text-center {
  text-align: center;
}

.box1 {
  overflow: hidden;
  position: relative;
  height: 17rem;
}

.box1 img {
  width: 100%;
  height: 19.7rem;
}


.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: block;
  max-width: 100%;
  height: auto;
}

.details {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 110px;
  /* right: 0; */
  z-index: 2;
  padding: 3rem 1.5rem;
  background: transparent;
  -webkit-transform: translateY(7rem);
  transform: translateY(7rem);
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  backface-visibility: hidden;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  -webkit-transition: 0.35s all ease;
  -o-transition: 0.35s all ease;
  transition: 0.35s all ease;
  margin-right: auto;
  margin-left: auto;
  -moz-transition: 0.35s all ease;
  -ms-transition: 0.35s all ease;
}

.details h4 {
  color: #fff;
  overflow: auto;
  display: block;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  /* padding-right: 5px; */
  padding-bottom: 5rem;
  font-size: 1.8rem;
  font-weight: bold;
  -webkit-transition: 0.35s all ease;
  -o-transition: 0.35s all ease;
  transition: 0.35s all ease;
  font-family: "Montserrat", sans-serif;
}

.box1:hover .details {
  opacity: 1;
  -webkit-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
}

.buttons_paves .button2 {
  font-size: 1.4rem;
}

.button2 {
  font-family: "Lato", sans-serif;
  color: #fff;
  background-color: #FFDE62;
  padding: .5rem 1rem;
  font-size: 2rem;
  line-height: 2.9rem;
  border-radius: 1rem;
  border: .2rem solid #FFDE62;
  font-weight: 600;
  transition: 0.3s;
}

.button2:hover {
  background-color: #FFDE62;
  color: #fff;
}

h1, h2, h3, h4, p, a, li, button {
  font-family: "Lato", sans-serif;
}

p{
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #333;
  line-height: 1.7;
}


li{
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #333;
  line-height: 1.7;
}











.bullet {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000;
  text-decoration: none;
  border-color: transparent;
  font-size: 1.6rem;
  padding: 0 1rem;
  line-height: 2.8rem;
  position: relative;
  display: block;
  text-align: center;
  transition: .3s;
  z-index: 1;
  padding: 1rem;
}



.mentions{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .text{
    color: #000;
    font-family: "Martel", serif;
    font-size: 1.8rem;
    line-height: 1.7;
    font-weight: 400;
    text-align: left;
    width: 100%;
  }
  .wd{
    width: 100%;
  }
  .pad{
    padding: 1rem 0;
  }
  .content-wrap{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 4rem;
    border: .5rem solid #92bce0;
    .txt{
    padding: 1rem 1rem;
    font-size: 16px;
    width: 100%;
    background-color: #92bce0;
    color: white;

    // &:hover{
    //   text-decoration: none;
    //   color: var(--color-secondary) !important;
    //   cursor: pointer;
    // }
    }
    .bottom{
      padding: 2.5rem 1rem;
      width: 100%;
      #heading{
        font-family: "Istok Web", sans-serif;
        text-align: left;
        font-size: 28px !important;
        margin-bottom: 2rem;
      }
    }
  }
}

.mentions-title{
  font-family: "Lato", sans-serif;
  font-size: 3.6rem;
}

.blueimp-gallery {
  position: fixed;
  z-index: 999999;
  overflow: hidden;
  background: #000;
  background: rgba(0, 0, 0, .9);
  opacity: 0;
  display: none;
  direction: ltr;
  -ms-touch-action: none;
  touch-action: none;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  background: #000;
}

.gallery-item-inner {
  display: block;
}

.PhotoTop {
  width: 100%;
  height: auto;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
}

.gallery{

  &_image{
    width: 100%;
    max-width: 100% !important;
    height: 100% !important;

    &-img{
      width: 100%;
      max-width: 100% !important;
      height: 100% !important;
      object-fit: cover;
      transition: .2s all ease-in-out;

      &:hover{
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
}

/* Lightbox container */
.lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

/* Lightbox image */
.lightbox-content {
  max-width: 90%;
  max-height: 90%;
}

/* Close button */
.lightbox-close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.lightbox-close:hover,
.lightbox-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


#fixphone {
  font-family: "Open Sans", sans-serif;
  position: fixed;
  bottom: 14%;
  right: 1.5rem;
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: #fff;
  font-size: 1.8rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  transition: 0.3s;
  text-decoration: none;
  z-index: 10000 !important;

  @media only screen and (max-width: 768px) {
    bottom: 3%;
  }
}

#fixphone:hover {
  background: rgba(0, 0, 0, 0);
  color: var(--color-primary);
  text-decoration: none;
}


.fixphone {
  position: fixed;
  z-index: 10000 !important;
  bottom: 0;
  right: .5rem;
  font-family: "Lato", sans-serif;
  border-radius: .8rem .8rem 0 0 !important;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.9rem;
  padding: 1rem 3rem;
  color: #FFFFFF;
  background-color: var(--color-primary) !important;

  @media only screen and (max-width: 990px) {
    display: none;
  }


  @media (max-width: 400px) {
    bottom: 0 !important;
    right: 0 !important;
  }

  .button {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 2rem;
    margin-right: 1rem;
    padding: 1.3rem 2.5rem;
    border-radius: 1.5rem;
    color: #fff;
    background-color: var(--color-primary);
    display: inline-block;
    border: unset;
    transition: all 0.5s;

    @media (max-width: 400px) {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.9rem;
    }

    &:hover {
      text-decoration: none;
      background: #fff;
      border: 2px solid var(--color-primary);
      color: var(--color-primary);
      cursor: pointer;
    }
  }
}


.page404{

  &_content{
    padding: 2rem 0;

    &-title{
      color: #333;
      font-family: "Lato", sans-serif; 
      font-size: 3.6rem;
      font-style: normal;
      font-weight: 400;
    }

    &-p{
      color: #747474;
      font-family: "Lato", sans-serif; 
      font-size: 2.1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 52.5px */
      letter-spacing: 0.35px;
      margin: 2rem 0;
    }

    &-link{
      color: #000;
      font-family: "Lato", sans-serif; 
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 52.5px */
      letter-spacing: 0.35px;

      &:hover{
        transition: .2s all ease-in-out;
        text-decoration: none;
        color: var(--color-secondary);
        cursor: pointer;
      }
    }
  }

}

.error {
  color: red;
  font-size: 1.4rem;
  text-align: center;
}


.active2{
  color: #fff !important;
}

.br{
  border-radius: 3rem !important;
}

// Imports
@import "bootstrap";


.dropdown.active {
  a.dropdown-item{
    color: $body-color!important;
    &.active{
      color: $white!important;
    }
  }
}
